@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-8">
        <h3>Product</h3>
    </div>
    <div class="col-4">
        <a class="btn btn-primary float-end"
           asp-controller="Product"
           asp-action="CreateProductExcel">
            Excel Create
        </a>
    </div>
</div>


